<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      
        akka {
          loglevel = OFF
          loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
          
          actor {
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            
             deployment{
                 /commander/coordinator{
                  router = broadcast-pool
                  nr-of-instances = 4
                 }                  
               }   
          }

          remote {
                     helios.tcp {
  	                    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
  	                    transport-protocol = tcp
                        port = 8090
                        hostname = localhost
                    }
                }

        }      
      
      ]]>
    </hocon>
  </akka>
  <!-- External executable paths-->
  <appSettings>
    <add key="ClientOutputFolderPath" value=""/>
    <add key="ClientExecutablePath" value=""/>   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>